.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("../images/helping-hands.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.profile-container {
  margin-top: 140px;
}

.form-label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  display: block;
  font-size: 18px;
}

.form-check {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  display: block;
  font-size: 18px;
}

.left-align {
  text-align: left;
  display: block;
  font-size: 17px;
  margin-bottom: 0px;
}
